h1{
    text-align: center;
    margin: 50px;
    font-size: 42px;
}
h3{
   font-size: 22px;
   position:absolute;
   transform: translateY(-60px);
   text-align: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 2em;
    margin: auto;
    justify-content: center;
    
}
.grid{
    flex: 1 1 40% ;
    height: 230px;
    border-radius: 20px;
    border: 0.5px solid #c2bdbd ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.grid1{
    flex: 1 1 40% ;
    height: 230px;
    border-radius: 20px;
    border: 0.5px solid #c2bdbd ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid2{
    flex: 1 1 40% ;
    height: 250px;
    border-radius: 20px;
    border: 0.5px solid #c2bdbd ;
    display:flex;
    align-items:center;
    justify-content: center;
}



.contenedor-peso{
    height: 50px;
    width: 50%;
    position: relative;
    overflow: hidden;
    

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.contenedor-peso input{
    width: 200px;
    height: 100%;
    padding-top: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    text-align: center;
    background: inherit;
    
}

.contenedor-peso .label-peso{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.contenedor-peso .label-peso::after{
    content: "";
    border-bottom: 3px solid #65ca85;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: -1px;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.span-peso{
    position: absolute;
    bottom: 2px;
    left: 0px;
    transition: all 0.3s ease;
}
.span-kg{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.contenedor-peso input:focus + .label-peso .span-peso, 
.contenedor-peso input:valid + .label-peso .span-peso{
    transform: translateY(-150%);
    font-size: 14px;
    color:#65ca85
}
.contenedor-peso input:focus + .label-peso::after,
.contenedor-peso input:valid + .label-peso::after{
    transform: translateX(0%);
}

.btn{
    margin: auto;
    margin-top: 20px;
    width: 500px;
    height: 60px;
    text-align: center;
    
}
#calcular{
    border: none;
    background: #74b9ff;
    border-radius:20px;
    width: 100%;
    height: 100%;
    outline: none;
    transition: 0.2s;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
#calcular:hover{
    background:  #65ca85;
}



.append{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: auto;
    height: 300px;
    
}

.calorias{
    border:1px solid #65ca85  ;
    width: 350px;
    height: 100%;
    display: block;
    border-radius: 10px;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}
.calorias .kcal{
    font-size: 30px;
    font-weight: 700;
}

.calorias h2{
    font-size: 22px;
    text-align: center;
}
.calorias p{
    font-size: 18px;
    text-align: center;
    margin: 15px;
}

.resultado{
    
    font-size: 25px;
    font-weight: 500;
}
.append2{
    font-size: 20px;
    color: #ff7675;
    
}
.radioDiv{
    display: flex;
    margin: 10px;
    height: 100px;
    width: 210px;
    
}
input[type="radio"]{
    display: none;
}
.radio-label{
    position: relative;
    font-size: 20px;
    color: #65ca85;
    border: 2px solid #65ca85;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 35px;
    width: 100%;
}
.radio-label:before{
    content: "";
    height: 25px;
    width: 25px;
    border: 3px solid #65ca85;
    border-radius: 50%;
    margin-right: 20px;
}
input[type="radio"]:checked +.radio-label{
    background-color: #65ca85;
    color: white;
}
input[type="radio"]:checked +.radio-label:before{
    height: 16px;
    width: 16px;
    border:  8px solid white;
    background-color: #65ca85;
}
.requerido{
    border-color: #ff7675;
}
