@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
::selection{
    background: #65ca85;
}

body{
    display: block; 
    height: auto;
    justify-content: space-evenly;
    align-items: center;
    background: whitesmoke;
    
}
.header{
    z-index: 4;
    position: fixed;
    top: 0;
    display: flex;
    border-bottom:0.6px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    width: 100%;
    align-items: center;
    background-color: whitesmoke;
}
.divMarca{
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;

}
.divMarca a{
    font-size: 40px;
    font-weight:900;
    color: #65ca85;
}
.Menu-main{
display: flex;
position:absolute;
right: 20px;
}

a{
 text-decoration: none;
 color: inherit;
}
.divMenu{
    width: auto;
    margin:20px;
}

.divMenu a{
    font-size: 22px;
    font-weight: 600;
    transition: all 0.10s;
    
}
.divMenu a:hover{
    color: #65ca85;
}
.bottom{
position: fixed;
bottom: 0;
display: flex;
justify-content: center;
margin-top: 30px;
width: 100%;
background-color: rgb(233, 233, 233);
}
.creditos{
    font-weight: 600;
}
.creditos a:hover{
color: #45aa65;
}