@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}
body{
    background:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}
h1{
    font-size: 80px;
    color: #65ca85;
    font-weight: 700;
    position: absolute;
    top: 10%;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0 ;

}

.calculadora{
    position: relative;
    width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                inset -5px -5px 5px rgba(255,255,255, 0.5),
                    5px 5px 5px rgba(0,0,0,0.05),
                    -5px -5px 5px rgba(255,255,255,0.5);
    margin: 30px;
    border-radius: 20px;
}
.calculadora .carta{
    position: absolute;
    top:20px;
    left:20px;
    right:20px;
    bottom:20px;
    background:whitesmoke;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}
.calculadora .carta .caja{
    padding: 20px;
    text-align: center;
}
.calculadora .carta .caja h3{
    font-size: 25px;
    color: #777;
    z-index: 1;
    transition: 0.5;
}
.calculadora .carta .caja p{
    font-size: 18px;
    font-weight: 400;
    color: #777;
    z-index: 1;
    transition: 0.5;

}
.calculadora .carta .caja a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 20px;
    background:#65ca85 ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}
.calculadora:hover .carta .caja a{
    background: #e0d8b0;
    color: #777;
}
.calculadora:hover .carta{
    transform: translateY(-50px);
    box-shadow: 0 10px 40px rgba(0,0,0,0.35);
    background: #65ca85;
}
.calculadora:hover .carta .caja h3,
.calculadora:hover .carta .caja p{
    color: #fff;
}
